.author-text::before {
  content: "- ";
}

.buttons {
  display: flex;
  justify-content: space-between;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: aqua;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box {
  box-sizing: border-box;
  background-color: yellow;
  border-radius: 25px;
  padding: 20px;
  width: clamp(300px, 50%, 600px);
  height: clamp(200px, 40%, 700px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#text {
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-text {
  margin: 0 10px;
  text-align: justify;
  padding: 0 0.5em;
}

#author {
  text-align: right;
  margin-right: 10%;
}

.quote-marks {
  font-size: 2em;
}